<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">

</head>
<body>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>

			<div class="card-body">

				<h4 class="card-title">
					<a th:href="@{'/ver/' + ${factura.cliente.id}}"
						class="btn btn-light btn-xs">&laquo; Volver</a>
					<a class= "btn btn-danger btn-xs float-right mx-2" th:href="@{'/factura/ver/' + ${factura.id}(format=pdf)}">PDF</a>
					<a class= "btn btn-success btn-xs float-right" th:href="@{'/factura/ver/' + ${factura.id}(format=xlsx)}">XLS</a>
				
				</h4>

				<ul class="list-group my-2">
					<li th:text="'Datos del cliente'"
						class="list-group-item list-group-item-primary"></li>
					<li class="list-group-item" th:text="${factura.cliente}"></li>
					<li class="list-group-item" th:text="${factura.cliente.email}"></li>
				</ul>

				<ul>
					<li th:text="'Datos de la factura'"
						class="list-group-item list-group-item-success"></li>
					<li class="list-group-item" th:text="'Folio: ' +  ${factura.id}"></li>
					<li class="list-group-item"
						th:text="'Factura: ' +  ${factura.descripcion}"></li>
					<li class="list-group-item"
						th:text="'Fecha ' +  ${factura.createAt}"></li>

				</ul>

				<div class="alert alert-info my-4"
					th:if="${#lists.isEmpty(factura.items)}"
					th:text="${'No hay lineas para la factura: ' + 'factura.descripcion'}"></div>

				<table th:if="${not #lists.isEmpty(factura.items)}"
					class="table table-striped table-hover table-borderer my-3">

					<thead>
						<tr>
							<th>Producto</th>
							<th>Precio</th>
							<th>Cantidad</th>
							<th>Importe</th>
						</tr>

					</thead>

					<tbody>
						<tr th:each="linea: ${factura.items}">
							<td th:text="${linea.producto.nombre}"></td>
							<td th:text="${linea.producto.precio}"></td>
							<td th:text="${linea.cantidad}"></td>
							<td th:text="${linea.calcularImporte()}"></td>
						</tr>
					</tbody>

				</table>

				<h5 class="float-fight">
					Gran Total <span th:text="${factura.obtenerTotal()}"
						class="badge badge-secondary"></span>
				</h5>

				<div class="card border-info mb-4" style="max-width: 20rem;">
					<div class="card-header">Observaciones</div>
					<div class="card-body">
						<p th:if="${not #strings.isEmpty(factura.observacion)}"
							th:text="${factura.observacion}" class="card-text"></p>
						<h4 class="card-title"
							th:if="${#strings.isEmpty(factura.observacion)}"
							th:text="${'No tiene observaciones'}"></h4>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>