<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Springboot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Home
						<span class="sr-only">(current)</span>
				</a></li>
				<li class="nav-item"><a class="nav-link" th:href="@{/listar}">Clientes</a>
				</li>
			</ul>
			<ul class="navbar-nav navbar-right">
				<li sec:authorize="!isAuthenticated()"><a class="btn btn-outline-primary" href="/login">Sign in</a></li>
				<li sec:authorize="isAuthenticated()"><a class="btn btn-outline-primary" onclick="document.getElementById('logoutForm').submit();" type="submit">Log out</a>
					<form id="logoutForm" th:action="@{/logout}" method="POST">
						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
					</form>	
				</li>

			</ul>
			
			<p sec:authorize="isAuthenticated()">
				Usuario logueado: <span sec:authentication="name"></span> | Roles: <span
					sec:authentication="principal.authorities"></span>
			</p>
		</div>
	</nav>

	<div class="container py-4">
		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">

				<h4 class="card-title">
					<a sec:authorize="hasRole('ROLE_ADMIN')" class="btn btn-primary btn-xs"
						th:href="@{/factura/form/} + ${cliente.id}">Crear Factura</a>
				</h4>
				<img th:if="${#strings.length(cliente.foto) > 0}"
					class="img-thumbnail rounded float-left" style="max-width: 25%;"
					th:src="@{'/uploads/' + ${cliente.foto}}" th:alt="${cliente.foto}">

				<ul class=list-group>
					<li class="list-group-item" th:text="${cliente.nombre}"></li>
					<li class="list-group-item" th:text="${cliente.apellido}"></li>
					<li class="list-group-item" th:text="${cliente.email}"></li>
					<li class="list-group-item" th:text="${cliente.createAt}"></li>

				</ul>
				<div th:if="${#lists.isEmpty(cliente.facturas)}"
					class="alert alert-info my-4"
					th:text="'No hay facturas asociadas al cliente ' + ${cliente.nombre} + ' ' + ${cliente.apellido}">
				</div>
				<table th:if="${not #lists.isEmpty(cliente.facturas)}"
					class="table table-bordered table-striped my-4">
					<thead>
						<tr>
							<th>Folio</th>
							<th>Descripcion</th>
							<th>Fecha</th>
							<th>Total</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Ver</th>
							<th sec:authorize="hasRole('ROLE_ADMIN')">Eliminar</th>
						</tr>
					</thead>

					<tbody>
						<tr th:each="factura: ${cliente.facturas}">
							<td th:text="${factura.id}"></td>
							<td th:text="${factura.descripcion}"></td>
							<td th:text="${factura.createAt}"></td>
							<td th:text="${factura.obtenerTotal()}"></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-primary"
								th:href="@{'/factura/ver/' + ${factura.id}}" th:text="'Detalle'"></a></td>
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a class="btn btn-danger"
								th:href="@{'/factura/eliminar/' + ${factura.id}}"
								th:text="'Eliminar'"></a></td>
						</tr>
					</tbody>
				</table>


			</div>

		</div>
	</div>

	<script th:scr="@{/js/jquery-3.2.1.min.js}"></script>
	<script th:src="@{/js/popper.min.js}"></script>
	<script th:scr="@{/js/bootstrap.min.js}"></script>
	<script th:scr="@{/js/jquery-ui.min.js}"></script>

</body>
</html>